<div class="row " *ngFor="let hero of heroes">
    <span class="hero">{{ hero.title }}</span>
    <div class="col-xs-12">
        <span>
            <img [src]="hero.imagePath" class="img-responsive" alt="{{ hero.title }}"
                style="max-height: 500px; width: 100%;">
        </span>
    </div>
</div>

<div class="row border rounded sec1">
    <div class="col-md-12 tank1 ">
        <div class="tank">
            <span class="sub">Boost your business with fast, reliable and secure connection</span>
            <hr/>
            <p class="text-center sub2">
    
    
                Atis telcom provides full-fledged telecommunication data services to any client in the African continent.
                Our expertise and agility allow us to deliver efficient and tailor-made solutions.
    
                We operate 5 nodes across Africa, through which we deliver services with ease whether across challenging
                rural areas and developing markets or big cities and mature markets. Regardless of conditions, our service
                will always be guaranteed for reliability.
    
            </p>
        </div>
       
    </div>
</div>

<div class="">
    <div class="row first">
        <div class="col-lg-5 border">
            <div class="card-body body">
                <p>Coverage includes more than 45 countries in the Africa</p>
                <p>Access technologies include fiber optics, HFC and terrestrial wireless with bandwidths ranging from 1
                    Mbps to 10 Gbps</p>
                <p>Service Level Agreement with 99.5% to 99.99% availability using redundant links with diverse
                    infrastructure</p>
                <p>24/7 multilingual support through our Costumer Service Center and a web-based ticketing portal</p>
                <p>Express and standardized quotation process supported by Atis telcom powerful real-time platform</p>
            </div>

        </div>
        <div class="col-lg-5">
            <div class="">

                <div class="card-body ">
                    <img class="img1"
                        src="https://images.unsplash.com/photo-1605342010773-581d14612b98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=400&q=100">
                </div>
            </div>

        </div>

    </div>

    <div class="row first">
        <div class="col-lg-5">
            <div class="">

                <div class="card-body ">
                    <img class="img2"
                        src="https://images.unsplash.com/photo-1547658718-1cdaa0852790?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=450&q=70">
                </div>
            </div>

        </div>

        <div class="col-lg-5 border">
            <div class="card-body body">
                <p>Dedicated connections with the main service and content providers</p>
                <p>Simple process to upgrade your service on demand.</p>
                <p>Service Level Agreement with 99.5% to 99.99% availability using redundant links with diverse
                    infrastructure</p>

                <p>Express and standardized quotation process supported by Atis telcom powerful real-time platform</p>
            </div>

        </div>


    </div>
</div>

<app-footer></app-footer>