 <nav class="navbar navbar-dark bg-primary navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">Atis Telcom</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav  me-auto mb-2 mb-lg-0">
          <li class="nav-item" >
            <a class="nav-link "  routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about"  routerLinkActive="active">About</a>
          </li>
          <li ngbDropdown class="nav-item dropdown ">
            <a ngbDropdownToggle class="nav-link dropdown-toggle "  routerLinkActive="active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Services
            </a>
            <ul ngbDropdownMenu class="dropdown-menu" >
              <li><a ngbDropdownItem class="dropdown-item" routerLink="/dedicatedinternetaccess">Dedicated Internet Access</a></li>
              <li><a ngbDropdownItem class="dropdown-item" routerLink="/ethernet">Ethernet Access</a></li>
              <li><a ngbDropdownItem class="dropdown-item" routerLink="/edge">Edge SD-WAN</a></li>
              <li><a ngbDropdownItem class="dropdown-item" routerLink="/broadband">Broadband Internet Access</a></li>
              <li><a ngbDropdownItem class="dropdown-item" routerLink="/dedicatedcloudconnection">Dedicated Cloud Connection</a></li>
              <li><a ngbDropdownItem class="dropdown-item" routerLink="/hybriddynamics">Hybrid Dynamic Networks</a></li>
              <li><a ngbDropdownItem class="dropdown-item" routerLink="/wildix">Wildix</a></li>
              <li><a ngbDropdownItem class="dropdown-item" routerLink="/customerpremises">Customer Premises Equipment</a></li>
              <li><a ngbDropdownItem class="dropdown-item" routerLink="/fieldservice">Field Service</a></li>
   
            </ul>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/fibre"  routerLinkActive="active">Fibre</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/contactus"  routerLinkActive="active">Contact Us</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/login"  routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item" >
            <a class="nav-link" routerLink="/getconnected"  routerLinkActive="active">Connect</a>
          </li>
         
        </ul>
       
      </div>
    </div>
</nav> 

