<div class="container sec5">
    <div class="row gy-4">
        <div class="col-lg-4">
            <div class="card" routerLink="/dedicatedinternetaccess" style="cursor: pointer ;">               
                <div class="card-body cardL">                    
                  <p class="card-text" >Dedicated internet Access</p>
                  <fa-icon  [icon]="faAngleRight"></fa-icon>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" routerLink="/ethernet" style="cursor: pointer ;">               
                <div class="card-body cardL ">
                  <p class="card-text">Ethernet Connectivity</p>
                  <fa-icon  [icon]="faAngleRight"></fa-icon>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" routerLink="/edge" style="cursor: pointer ;">               
                <div class="card-body cardL" >
                  <p class="card-text">Ip Vpn multiprotocol label switching</p>
                  <fa-icon  [icon]="faAngleRight"></fa-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="row gy-4 mt-1">
        <div class="col-lg-4">
            <div class="card" routerLink="/broadband" style="cursor: pointer ;">               
                <div class="card-body cardL">
                  <p class="card-text">Broadband Internet Access</p>
                  <fa-icon  [icon]="faAngleRight"></fa-icon>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" routerLink="/dedicatedcloudconnection" style="cursor: pointer ;">               
                <div class="card-body cardL">
                  <p class="card-text">Dedicated Cloud Connection</p>
                  <fa-icon  [icon]="faAngleRight"></fa-icon>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" routerLink="/hybriddynamics" style="cursor: pointer ;">               
                <div class="card-body cardL">
                  <p class="card-text">Hybrid Dynamic Networks</p>
                  <fa-icon  [icon]="faAngleRight"></fa-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="row gy-4 mt-1">
        <div class="col-lg-4">
            <div class="card" routerLink="/wildix" style="cursor: pointer ;">               
                <div class="card-body cardL">
                  <p class="card-text">Wildix</p>
                  <fa-icon  [icon]="faAngleRight"></fa-icon>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" routerLink="/customerpremises" style="cursor: pointer ;">               
                <div class="card-body cardL">
                  <p class="card-text">customer premises equipment</p>
                  <fa-icon  [icon]="faAngleRight"></fa-icon>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" routerLink="/fieldservice" style="cursor: pointer ;">               
                <div class="card-body cardL">
                  <p class="card-text">Field support</p>
                  <fa-icon  [icon]="faAngleRight"></fa-icon>
                </div>
            </div>
        </div>
    </div>
</div>
