<div class="row">
    <app-fibrecomponent></app-fibrecomponent>
    <div class="row top " *ngFor="let hero of heroes">
        <span class="hero">{{ hero.title }}</span>
        <div class="col-xs-12">
            <span >
                <img [src]="hero.imagePath" class="img-responsive" alt="{{ hero.title }}" style="max-height: 500px; width: 100%;">
            </span>
        </div>
    </div>
    <div class="row package container g-4">
        <div class="card border-primary mb-3 col-lg-2">
            <div class="card-header bg-transparent border-primary header">Bronze</div>
            <div class="card-body text-primary">
              <h5 class="card-title title">10 MBPS</h5>
              <div class="">
                <ul class="list">
                    <li>Fast web browsing</li>
                    <li>Movie streaming</li>
                    <li>Multi device streaming</li>
                    <li>Home automation</li>
                </ul>
              </div>
            </div>
            <div class="card-footer bg-transparent border-primary header " routerLink="/getconnected" style="cursor:pointer ;" >Subscribe</div>
        </div>

        <div class="card border-primary mb-3 col-lg-2">
            <div class="card-header bg-transparent border-primary header">Silver</div>
            <div class="card-body text-primary">
              <h5 class="card-title title">25 MBPS</h5>
              <div class="">
                <ul class="list">
                    <li>Fast web browsing</li>
                    <li>Movie streaming</li>
                    <li>Multi device streaming</li>
                    <li>Home automation</li>
                </ul>
              </div>
            </div>
            <div class="card-footer bg-transparent border-primary header" routerLink="/getconnected" style="cursor:pointer ;">Subscribe</div>
        </div>
        <div class="card border-primary mb-3 col-lg-2">
            <div class="card-header bg-transparent border-primary header">Gold</div>
            <div class="card-body text-primary">
              <h5 class="card-title title">45 MBPS</h5>
              <div class="">
                <ul class="list">
                    <li>Fast web browsing</li>
                    <li>Movie streaming</li>
                    <li>Multi device streaming</li>
                    <li>Home automation</li>
                </ul>
              </div>
            </div>
            <div class="card-footer bg-transparent border-primary header" routerLink="/getconnected" style="cursor:pointer ;">Subscribe</div>
        </div>
        <div class="card border-primary mb-3 col-lg-2">
            <div class="card-header bg-transparent border-primary header">Saphirre</div>
            <div class="card-body text-primary">
              <h5 class="card-title title">100 MPBS</h5>
              <div class="">
                <ul class="list">
                    <li>Fast web browsing</li>
                    <li>Movie streaming</li>
                    <li>Multi device streaming</li>
                    <li>Home automation</li>
                </ul>
              </div>
            </div>
            <div class="card-footer bg-transparent border-primary header" routerLink="/getconnected" style="cursor:pointer ;">Subscribe</div>
        </div>
    </div>
   
    <app-footer></app-footer>
</div>
