.hero {
    position: absolute;
    font-size: 50px;
    margin-top: 150px;
    margin-left: 50px;
    color: beige;
}
.top {
    margin-top: 20px;
}
.package {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.header {
    text-align: center;
    font-weight: bold;
}
.title {
    text-align: center;
}
.list {
    list-style-type: none;
    font-size: small;
   
}
@media (max-width: 320px) {
   .hero {
    font-size: 16px;
    margin-left: 10px;
    top: 70px;
    font-weight: bolder;
   }
}