<div class="container r3 ">
  <div class="row ">
    <div class="col-lg-3">
      <div class="card crsc3">
        <div class="card-body">
          <p class="card-text p-4">Increase your revenue by offering high quality telecommunication services in your
            preferred region.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">

        <div class="card-body">
          <img
            src="https://images.unsplash.com/photo-1637534105319-8703f6c8d0f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cG9ydCUyMGNyYW5lfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60"
            style="max-height: 145px; width: 100%;" alt="imagewa">
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">

        <div class="card-body">
          <p class="card-text p-4">Our connectivity spans through all urban and remote areas across the African
            continent.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">

        <div class="card-body">
          <img
            src="https://images.unsplash.com/photo-1503384191592-0f8a38e52f06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8Y2l0eXxlbnwwfDJ8MHx8&auto=format&fit=crop&w=500&q=60"
            style="max-height: 145px; width: 100%;" alt="imagewa">
        </div>
      </div>
    </div>
  </div>
  <div class="row r3">
    <div class="col-lg-3">
      <div class="card">

        <div class="card-body">
          <img
            src="https://images.unsplash.com/photo-1643308012242-704341800ef3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YnVpbGRpbmclMjBzaXRlfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60"
            style="max-height: 145px; width: 100%;" alt="imagewa">
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card">
        <div class="card-body">
          <p class="card-text p-4">Each project demands specific training, skills and procedures. We make sure
            everything is right in order </p>
        </div>
      </div>
    </div>


    <div class="col-lg-3">
      <div class="card">

        <div class="card-body">
          <img
            src="https://images.unsplash.com/photo-1622914681928-c89a5b128737?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8d2luZCUyMHR1cmJpbmVzfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60"
            style="max-height: 145px; width: 100%;" alt="imagewa">
        </div>
      </div>
    </div>

    <div class="col-lg-3">
      <div class="card">

        <div class="card-body">
          <p class="card-text p-4">Our work builds upon experience and good relationships with local partners. </p>
        </div>
      </div>
    </div>
  </div>
</div>