<div class="row border rounded sec2">
    <div class="col-md-12 tank1 ">
        <div class="tank">
            <span class="title">Our know-how at your Command</span>
            <hr/>
            <p class="text-center">
                We offer Wide Area Network (WAN) services for global providers and carriers in Africa. Our WAN solutions
                include controlled implementation, on-schedule delivery for final users and 24/7 technical support.

            </p>
        </div>

    </div>
</div>