<div class="row " *ngFor="let hero of heroes">
    <span class="hero">{{ hero.title }}</span>
    <div class="col-xs-12">
        <span>
            <img [src]="hero.imagePath" class="img-responsive" alt="{{ hero.title }}"
                style="max-height: 500px; width: 100%;">
        </span>
    </div>
</div>

<div class="row border rounded sec1">
    <div class="col-md-12 tank1 ">
        <div class="tank">
            <span class="sub1">Simple, flexible and secure interconnection to the main Cloud Service Providers</span>
            <hr />
            <p class="text-center">

                As enterprises accelerate the adoption of Software as a Service (SaaS), it becomes mandatory not only to
                have a robust internet access but also a suitable solution. With Atis telcom you can enhance your
                business by reaching the main Cloud Service Providers (CSP) and a variety of data centers around the
                world. Atis telcom Dedicated Cloud Connection provides an ethernet connection to your cloud environment
                through a simple, secure, scalable and reliable service


            </p>
        </div>

    </div>
</div>

<div class="container">
    <div class="row first">
        <div class="col-lg-5 border">
            <div class="card-body body">
                <p>Coverage includes more than 45 countries in the Africa</p>
                <p>Access technologies include fiber optics, HFC and terrestrial wireless with bandwidths ranging from 1
                    Mbps to 10 Gbps</p>
                <p>Service Level Agreement with 99.5% to 99.99% availability using redundant links with diverse
                    infrastructure</p>
                <p>24/7 multilingual support through our Costumer Service Center and a web-based ticketing portal</p>
                <p>Express and standardized quotation process supported by Atis telcom powerful real-time platform</p>
            </div>

        </div>
        <div class="col-lg-5">
            <div class="">

                <div class="card-body ">
                    <img
                        src="https://images.unsplash.com/photo-1637534105319-8703f6c8d0f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cG9ydCUyMGNyYW5lfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60">
                </div>
            </div>

        </div>

    </div>

    <div class="row first">
        <div class="col-lg-5">
            <div class="">

                <div class="card-body ">
                    <img
                        src="https://images.unsplash.com/photo-1547658718-1cdaa0852790?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=450&q=70">
                </div>
            </div>

        </div>

        <div class="col-lg-5 border">
            <div class="card-body body">
                <p>Coverage includes more than 45 countries in the Africa</p>
                <p>Access technologies include fiber optics, HFC and terrestrial wireless with bandwidths ranging from 1
                    Mbps to 10 Gbps</p>
                <p>Service Level Agreement with 99.5% to 99.99% availability using redundant links with diverse
                    infrastructure</p>
                <p>24/7 multilingual support through our Costumer Service Center and a web-based ticketing portal</p>
                <p>Express and standardized quotation process supported by Atis telcom powerful real-time platform</p>
            </div>

        </div>


    </div>
</div>
<app-footer></app-footer>