<div class="row " *ngFor="let hero of heroes">
    <span class="hero">{{ hero.title }}</span>
    <div class="col-xs-12">
        <span >
            <img [src]="hero.imagePath" class="img-responsive" alt="{{ hero.title }}" style="max-height: 500px; width: 100%;">
        </span>
    </div>
</div>

<div class="container">
    <div class="row first">
        <div class="col-lg-5 border">
            <div class="card-body body">
                <p>Cloud based PBX with web-based real time communications</p>
                <p>Full integration to the PSTN with SIP trunk and legacy TDM</p>
                <p>Pay only for user, not for PBX</p>
                <p>Wide variety of desktop phones with leasing options</p>
                <p>iOS and Android apps with push notifications</p>
            </div>

        </div>
        <div class="col-lg-5">
            <div class="">

                <div class="card-body ">
                    <img src="https://images.unsplash.com/photo-1637534105319-8703f6c8d0f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cG9ydCUyMGNyYW5lfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        >
                </div>
            </div>

        </div>

    </div>

    <div class="row first">
        <div class="col-lg-5">
            <div class="">

                <div class="card-body ">
                    <img src="https://images.unsplash.com/photo-1547658718-1cdaa0852790?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=450&q=70"
                        >
                </div>
            </div>

        </div>

        <div class="col-lg-5 border">
            <div class="card-body body">
                <p>Wildix has integrated and enhanced security that keeps your communications private between your branches regardless of location. </p>
                <p>Collaborate by sharing your desktop and and enrich your work with chat, audio and video.</p>
                
            </div>

        </div>
        

    </div>
</div>

<app-footer></app-footer>
