<div class="row " *ngFor="let hero of heroes">
    <span class="hero">{{ hero.title }}</span>
    <div class="col-xs-12">
        <span >
            <img [src]="hero.imagePath" class="img-responsive" alt="{{ hero.title }}" style="max-height: 500px; width: 100%;">
        </span>
    </div>
</div>
<div class="row border rounded sec1">
    <div class="col-md-12 tank1 ">
        <div class="tank">
            <span class="sub1">Boost your business with a high performance Virtual Private Network</span>
            <hr />
            <p class="text-center sub2">

                Supported by our international backbone of more than 5 nodes, Atis telcom Multiprotocol Label Switching
                (MPLS) service allow us to deliver carrier grade connections to your business. Interconnect your
                branches and increase your transactions with a single service provider. We help you consolidate your
                applications with a secure network infrastructure.


            </p>
        </div>

    </div>
</div>

<div class="container">
    <div class="row first">
        <div class="col-lg-5 border">
            <div class="card-body body1">
                <p>Redundant services with industry leading availability</p>
                <p>Fast deployment with global coverage</p>
                <p>Load balancing, WAN optimization and traffic control</p>
                <p>Integrated Next Generation Firewall (NGFW) and Secure Access Service Edge (SASE)</p>
                <p>Service Level Agreement with 99.0% to 99.99% availability</p>
            </div>

        </div>
        <div class="col-lg-5">
            <div class="">

                <div class="card-body ">
                    <img class="img1"
                    src="https://images.unsplash.com/photo-1637534105319-8703f6c8d0f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8cG9ydCUyMGNyYW5lfGVufDB8MnwwfHw%3D&auto=format&fit=crop&w=500&q=60"
                        >
                </div>
            </div>

        </div>

    </div>

    <div class="row first">
        <div class="col-lg-5">
            <div class="">

                <div class="card-body ">
                    <img class="img2"
                    src="https://images.unsplash.com/photo-1547658718-1cdaa0852790?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=450&q=70"
                        >
                </div>
            </div>

        </div>

        <div class="col-lg-5 border body2">
            <div class="card-body ">
                <p>Atis telcom SD-WAN solution lets you proactively manage your network with dashboards and reports so you can keep track of your service's performance. </p>
                <p>Adopt a Hybrid Dynamic Network and keep your business ahead of the competition with secure and reliable connections to cloud services.</p>
                
             
               
            </div>

        </div>
        

    </div>
</div>

<app-footer></app-footer>
