<div class="row">
    <app-fibrecomponent></app-fibrecomponent>
    <div class="row top" *ngFor="let hero of heroes">
        <span class="hero">{{ hero.title }}</span>
        <div class="col-xs-12">
            <span >
                <img [src]="hero.imagePath" class="img-responsive" alt="{{ hero.title }}" style="max-height: 500px; width: 100%;">
            </span>
        </div>
    </div>
    <div class="row package ">
        <div class="card border-primary mb-3 col-lg-2  ">
            <div class="card-header bg-transparent border-primary header">Essential</div>
            <div class="card-body text-primary">
              <div >
                <div class="list">
                    <p>Virus protection</p>
                    <p>Protection againt hackers</p>
                    <p>Multi device streaming</p>
                    <p>Virus scan</p>
                </div>
              </div>
            </div>
            <div class="card-footer bg-transparent border-primary header">Kshs 6,600/yr</div>
        </div>

        <div class="card border-primary mb-3 col-lg-2">
            <div class="card-header bg-transparent border-primary header">Advanced</div>
            <div class="card-body text-primary">
              
                <div >
                    <div class="list">
                        <p>Personal data protection</p>
                        <p>Parental control</p>
                        <p>Protection against viruses</p>
                        <p>Home automation</p>
                    </div>
                  </div>
            </div>
            <div class="card-footer bg-transparent border-primary header">Kshs 9,000/yr</div>
        </div>
        <div class="card border-primary mb-3 col-lg-2">
            <div class="card-header bg-transparent border-primary header">Complete</div>
            <div class="card-body text-primary">
              
                <div >
                    <div class="list">
                        <p>
                            Protection against cyber Attacks
                        </p>
                        <p>
                            Complete protection of data and passwords
                        </p>
                        <p>PC optimizer and tune up</p>
                        
                    </div>
                  </div>
            </div>
            <div class="card-footer bg-transparent border-primary header">Kshs 10,000/yr</div>
        </div>
        <div class="card border-primary mb-3 col-lg-2">
            <div class="card-header bg-transparent border-primary header">Premium</div>
            <div class="card-body text-primary">
              
                <div >
                    <div class="list">
                        <p>Protection against viruses</p>
                        <p>Wifi protection againt hackers</p>
                        <p>Virus scan for external devices</p>
                        
                    </div>
                  </div>
            </div>
            <div class="card-footer bg-transparent border-primary header">Kshs 15,000/yr</div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
