.hero {
    position: absolute;
    font-size: 45px;
    margin-top: 150px;
    margin-left: 50px;
    color: beige;
}
.top {
    margin-top: 20px;
}

.package {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
.header {
    text-align: center;
    font-weight: bold;
}
.whole {
    padding: 10px;
}
.list {
    font-size: small;
   
}
.card {
    padding: 10px;
}

@media (max-width: 320px) {
    .hero {
        font-size: 16px;
        margin-left: 5px;
        top: 70px;
    }
}