<div class="row border rounded sec1">
    <div class="col-md-12 tank1 ">
        <div class="tank">
            <span class="title">Global management Local Expertise</span>
            <hr/>
            <p class="text-center">
    
    
                Atis telcom provides full-fledged telecommunication data services to any client in the African continent.
                Our expertise and agility allow us to deliver efficient and tailor-made solutions.
    
                We operate 5 nodes across Africa, through which we deliver services with ease whether across challenging
                rural areas and developing markets or big cities and mature markets. Regardless of conditions, our service
                will always be guaranteed for reliability.
    
            </p>
        </div>
       
    </div>
</div>