<div class="row " *ngFor="let hero of heroes">
    <span class="hero">{{ hero.title }}</span>
    <div class="col-xs-12">
        <span>
            <img [src]="hero.imagePath" class="img-responsive" alt="{{ hero.title }}"
                style="max-height: 500px; width: 100%;">
        </span>
    </div>
</div>

<div class="row border rounded sec1">
    <div class="col-md-12 tank1 ">
        <div class="tank">
            <span class="sub1">The optimal Layer 2 solution for the wholesale market</span>
            <hr />
            <p class="text-center">


                Atis telcom ethernet access is designed to provide carrier networks services throughout 53 countries in
                the Africa. It is supported by a network infrastructure that allow us to expand and complement carriers'
                footprint with a full range of fiber optics, Hybrid Fiber Coaxial (HFC) and wireless solutions.

            </p>
        </div>

    </div>
</div>

<div class="container">
    <div class="row first">
        <div class="col-lg-5 border">
            <div class="card-body body">
                <p>Support for E-LAN, Dedicated E-LINE and Switched E-LINE architectures</p>
                <p>Domestic and international metro transport with bandwidths up to 100 Gbps</p>
                <p>Network-Network Interface (NNI) with more than 95 nodes in 45 countries</p>
                <p>Service Level Agreement with 99.5% to 99.99% availability and redundant links</p>
                <p>Express and standardized quotation process supported by Atis telcom powerful real-time platform</p>
            </div>

        </div>
        <div class="col-lg-5">
            <div class="">

                <div class="card-body ">
                    <img
                        src="https://images.unsplash.com/photo-1583241595865-b18efaf983f1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y2FibGUlMjBjYXJ8ZW58MHwxfDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60">
                </div>
            </div>

        </div>

    </div>

    <div class="row first">
        <div class="col-lg-5">
            <div class="">

                <div class="card-body ">
                    <img
                        src="https://images.unsplash.com/photo-1596754777925-043dc3084b35?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=50">
                </div>
            </div>

        </div>

        <div class="col-lg-5 border">
            <div class="card-body body">
                <p>Coverage includes more than 45 countries in the Africa</p>
                <p>Access technologies include fiber optics, HFC and terrestrial wireless with bandwidths ranging from 1
                    Mbps to 10 Gbps</p>
                <p>Service Level Agreement with 99.5% to 99.99% availability using redundant links with diverse
                    infrastructure</p>
                <p>24/7 multilingual support through our Costumer Service Center and a web-based ticketing portal</p>
                <p>Express and standardized quotation process supported by Atis telcom powerful real-time platform</p>
            </div>

        </div>


    </div>
</div>

<app-footer></app-footer>