<div class="row border rounded sec4">
    <div class="col-md-12 tank1 ">
        <div class="tank">
            <span class="title ">We Make It Work</span>
            <hr/>
            <p class="text-center">
                Enjoy tailor-made solutions with our comprehensive service catalog. Through our infrastructure and
                partnerships we can reach all corners of Africa to provide the necessary tools for reliable and
                always-on connectivity. We offer field service with on-site interventions as well as support for
                Costumer Premises Equipment (CPE)

            </p>
        </div>

    </div>
</div>