<div class="nav1">
    <button type="button" class="btn btn-primary" routerLink="/homefibre">
        <span><fa-icon [icon]="faHouse"></fa-icon></span>
        Home Fibre
    </button>
    <button type="button" class="btn btn-primary" routerLink="/securenet">
        <span><fa-icon [icon]="faShield"></fa-icon></span>
        Secure Net
    </button>
    <button type="button" class="btn btn-primary" routerLink="/lte">
        <span><fa-icon [icon]="faWifi"></fa-icon></span>
        5G/Private LTE
    </button>
    <button type="button" class="btn btn-primary" routerLink="/entertainment" >
        <span><fa-icon [icon]="faTv"></fa-icon></span>
        Entertainment
    </button>
    <button type="button" class="btn btn-primary" routerLink="/homecctv">
        <span><fa-icon [icon]="faCameraRetro"></fa-icon></span>
        Home CCTV
    </button>
    <button type="button" class="btn btn-primary" routerLink="/iot">
        <span><fa-icon [icon]="faServer"></fa-icon></span>
        IOT world
    </button>
    
</div>


