.hero {
    position: absolute;
    font-size: 45px;
    margin-top: 150px;
    margin-left: 50px;
    color: beige;
}
.top {
    margin-top: 20px;
}
@media (max-width: 320px) {
    .hero {
        font-size: 18px;
        margin-left: 5px;
        top: 70px;
    }
}