<div class="row border rounded sec6">
    <div class="col-md-12 tank1 ">
        <div class="tank">
            <span class="title">
                State of the Art Connectivity
            </span>
            <hr/>
            <p class="text-center">
                We operate in more than 45 countries with branches in Africa. Our clients work in several industries and
                we strive to offer the best solutions for every need. As part of our commitment to excellence we also
                offer 24/7 multilingual support.

            </p>
        </div>

    </div>
</div>